gradio==5.0.0
pure-python-adb==0.3.0.dev0
argparse==1.4.0
pytest==7.3.1
setuptools>=61.0
coremltools==7.1
pytest-cov==4.1.0
black==23.12.1
isort==5.13.2
flake8==7.0.0
mypy==1.8.0
pymobiledevice3==2.0.3
